.venv/
__pycache__/
.ruff_cache/
.pytest_cache
dist/
.idea/
contextualfairness.egg-info
.DS_Store

examples/data

api-token-pypi
examples/readme_showcase.py

compas-sias-presentatie.ipynb
polars_test.py
compas.ipynb